<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('../../css_js_partials/style') %>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <%- include('../partials/sidebar') %>
            <!-- Sidebar End -->
            <div class="content">
                <!-- Navbar Start -->
                <%- include('../partials/navbar') %>
                    <!-- Navbar End -->

                    <!-- Sale & Revenue Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="row g-4">
                            <div class="col-md-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <h6 class="mb-4">Edit category</h6>
                                    <form action="/admin/categories/edit/<%=category.id%>" method="post" class="row g-3">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Category Name</label>
                                                <input type="text" name="name" value="<%= category.name %>" class="form-control"
                                                    placeholder="category name" id="name" aria-describedby="nameHelp"
                                                    required>
                                                <% if(errors && errors.name){ %>
                                                    <span class="text-danger">
                                                        <%= errors.name.msg %>
                                                    </span>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary" style="margin-top: 1.9rem;">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sale & Revenue End -->
            </div>
    </div>

    <%- include('../../css_js_partials/scripts') %>
</body>

</html>